header {
  height: 400px;
  width: 30vw;
  margin: 0 15% 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(166, 144, 190);
  background-image: url(http://www.transparenttextures.com/patterns/3px-tile.png);
}

h2 {
  color: white;
}

@media only screen and (max-width: 1080px) {
  header {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
