.tweet-container {
  margin: 1.5em 0 1.5em 0;
}

.tweet-box {
  border: 4px solid black;
  height: 220px;
  padding: .5em .5em .5em .5em;
  display: flex;
  flex-direction: column;
}

.tweet-box:hover {
  box-shadow: 10px 10px #6f83c2;
}

.profile-icon {
  display: flex;
}

.profile-icon img {
  height: 55%;
  padding-right: .5em;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
}

.tweet-header h3 {
  margin: 0;
}

.tweet-box p {
  margin: 0;
  padding:.5em 0 .5em 0;
  max-width: 60ch;
  overflow:scroll;
  font-size: 25px;
  font-style: normal;
}

.tweet-header h6 {
  margin: 0;
}

.tweet-box hr {
  display: flex;
  border: 2px solid black;
  width: 100%;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-footer h6 {
  margin: 0;
}

.tweet-footer a {
  text-decoration: none;
}

.tweet-icons i {
  margin-right: 0.5em;
  font-size: 15px;
  color: #4056a1
}

.tweet-icons :hover {
  color: rgb(223, 143, 24);
}
